# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
.env
.ipynb_checkpoints/
# *.png
allcoin*.png
comparison_chart_*.png
performance*.png
*.png
*.log
.first_run_flag
account.yaml
# OS
.DS_Store

# Data & Logs
data/
logs/
tmp/
apps/indicatorVisualization/chart_for_group/